.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12,
.m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8,.m9,.m10,.m11,.m12,
.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9,.l10,.l11,.l12,
.grid-uni > * {
  margin: auto;
  width: 100%;
  float: left;
  box-sizing: border-box;
  position: relative;
  word-wrap: break-word;
}

.grid,
.grid-uni {
  margin: 0 -0.808%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  &.center {
    justify-content: center;
  }
  &.vcenter {
    align-items: center;
  }
}

.grid-uni:after {
  width: 100%;
  display: inline-block;
  content: '';
  clear: both;
}

.grid-uni > * {
  margin: 0.8%;
}

.grid-uni > * img {
  display: block;
  margin: auto;
}

.grid-uni.xs2i > * {
  @include gridItemWidth( 2 );
}

.grid-uni.xs3i > * {
  @include gridItemWidth( 3 );
}

.grid-uni.xs4i > * {
  @include gridItemWidth( 4 );
}

@media only screen and (min-width: 480px) {
  .s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12 {
    margin: 0.8%;
  }

  .grid-uni.s2i > * {
    @include gridItemWidth( 2 );
  }

  .grid-uni.s3i > * {
    @include gridItemWidth( 3 );
  }

  .grid-uni.s4i > * {
    @include gridItemWidth( 4 );
  }

  .grid-uni.s5i > * {
    @include gridItemWidth( 5 );
  }

  .grid-uni.s6i > * {
    @include gridItemWidth( 6 );
  }

  @media only screen and (max-width: 700px) {
    @include generateGridPushPull("s")
  }

  @include generateGrid("s");
}
@media only screen and (min-width: 700px) {
  .m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8,.m9,.m10,.m11,.m12 {
    margin: 0.8%;
  }
  .grid-uni.m2i > * {
    @include gridItemWidth( 2, 1 );
  }
  .grid-uni.m3i > *, .grid-uni > * {
    @include gridItemWidth( 3, 1 );
  }
  .grid-uni.m4i > * {
    @include gridItemWidth( 4, 1 );
  }
  .grid-uni.m5i > * {
    @include gridItemWidth( 5, 1 );
  }
  .grid-uni.m6i > * {
    @include gridItemWidth( 6, 1 );
  }
  .grid-uni.m7i > * {
    @include gridItemWidth( 7, 1 );
  }
  .grid-uni.m8i > * {
    @include gridItemWidth( 8, 1 );
  }
  .grid-uni.m10i > * {
    @include gridItemWidth( 10, 1, 1 );
  }
  .grid-uni.m12i > * {
    @include gridItemWidth( 12, 1, 1 );
  }
  // Grid Mobile
  @include generateGrid("m");
  @media only screen and (max-width: 1024px) {
    @include generateGridPushPull("m")
  }
}

@media only screen and (min-width: 1024px) {
  .l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9,.l10,.l11,.l12 {
    margin: 0.8%;
  }
  .grid-uni.l2i > * {
    @include gridItemWidth( 2, 1 );
  }
  .grid-uni.l3i > * {
    @include gridItemWidth( 3, 1 );
  }
  .grid-uni.l4i > *, .grid-uni > * {
    @include gridItemWidth( 4, 1 );
  }
  .grid-uni.l5i > * {
    @include gridItemWidth( 5, 1 );
  }
  .grid-uni.l6i > * {
    @include gridItemWidth( 6, 1 );
  }
  .grid-uni.l7i > * {
    @include gridItemWidth( 7, 1 );
  }
  .grid-uni.l8i > * {
    @include gridItemWidth( 8, 1 );
  }
  .grid-uni.l10i > * {
    @include gridItemWidth( 10, 1, 1 );
  }
  .grid-uni.l12i > * {
    @include gridItemWidth( 12, 1, 1 );
  }
  .grid-uni.l16i > * {
    @include gridItemWidth( 16, 1, 1 );
  }
  .grid-uni.l20i > * {
    @include gridItemWidth( 20, 1, 1 );
  }
  @include generateGrid("l");
  @include generateGridPushPull("l")
}

@media only screen and (max-width: 700px) {
  .s-hide {
    display: none;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .m-hide {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .l-hide {
    display: none;
  }
}
