.site-header {
	position: relative;
	padding: $padding 0 0;
}

.site-branding {
	text-align: center;
}

.site-title {
	margin: 0.25em 0 0;
	a {
		text-decoration: none;
	}
}

.site-description {
	margin: 0 0 1.6em;
}

/* ## Menus */
.main-navigation {
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	background: $clr-bg-menu;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&.nav-horizontal ul {
			opacity: 0.925;
		}
		ul {
			background: $clr-bg-menu;
			min-width: 200px;
		}
	}

	a {
		padding: $padding;
		display: block;
		text-decoration: none;
		color: $clr-link-menu;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.mobile-menu {
	padding: 1em;
	ul ul {
		margin: 0 $padding;
	}
	.menu {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s;
		padding: 0;
	}

	&.menu-toggled .menu {
		max-height: 1600px;
	}

	&.menu-toggled .menu-toggle .fa:before {
		content: "\f00d";
	}

	.menu-toggle {
		text-align: center;
		display: block;
		padding:0;
		font-size: 18px;
		.fa {
			margin: 0 0.5em 1px 0;
			font-size: 25px;
			vertical-align: middle;
		}
	}
}
