.site-header {
	position: relative;
	padding: $padding 0 0;
}

.site-branding {
	text-align: center;
}

.site-title {
	margin: 0.25em 0 0;
	a {
		text-decoration: none;
	}
}

.site-description {
	margin: 0 0 1.6em;
}

/* ## Menus */
.main-navigation {
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	background: $clr-bg-menu;

	.menu > li, .menu > ul > li {
		flex: 0 1 auto;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: nowrap;
		ul {
			min-width: 200px;
			margin: 0 $padding;

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
		}
	}

	li {
		position: relative;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		padding: $padding;
		display: block;
		text-decoration: none;
		color: $clr-link-menu;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.desktop-menu {
	ul {
		background: inherit;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		> li {
			flex: 0 1 auto;
		}
		ul {
			margin: 0;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 99999;
			display: none;
			&:before {
				content: '';
				background: rgba(0,0,0,0.7);
				@include position-absolute();
			}
			ul {
				left: 100%;
				top: 0;
			}
		}

		li:hover > ul,
		li.focus > ul {
			display: block;
		}
	}
}

.mobile-menu {
	padding: 1em;
	.menu {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s;
		padding: 0;
	}

	&.menu-toggled .menu {
		max-height: 1600px;
	}

	&.menu-toggled .menu-toggle .fa:before {
		content: "\f00d";
	}

	.menu-toggle {
		text-align: center;
		display: block;
		padding:0;
		font-size: 18px;
		.fa {
			margin: 0 0.5em 1px 0;
			font-size: 25px;
			vertical-align: middle;
		}
	}
}
