.site-header {
	position: relative;
	padding: $padding 0 0;
}

.site-branding {
	text-align: center;
}

.site-title {
	margin: 0.25em 0 0;
	a {
		text-decoration: none;
	}
}

.site-description {
	margin: 0 0 1.6em;
}

/* ## Menus */
.main-navigation {
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	background: $clr-bg-menu;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li.menu-item-has-children > a:after {
			content: "\f078";
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: inline-block;
			margin-left: 0.5em;
		}
		&.nav-horizontal ul {
			opacity: 0.925;
		}
		ul {
			background: $clr-bg-menu;
			min-width: 200px;
			li.menu-item-has-children > a:after {
				content: "\f054";
				float: right;
			}
		}
		a {
			padding: $padding;
			display: block;
			text-decoration: none;
			color: $clr-link-menu;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.mobile-menu {
	padding: 1px;
	ul ul {
		margin: 0 $padding;
	}
	ul {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s linear;
		padding: 0;
	}

	&.menu-toggled, .menu-toggled {
		ul {
			max-height: 1600px;
		}

		.menu-toggle span[class*='icon-']:before {
			content: "\f00d";
		}
	}

	.menu-toggle {
		text-align: center;
		display: block;
		width: 115px;
		padding: 0.7em;
		margin: 1em auto;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		background: rgba(0,0,0,0.5);
		cursor: pointer;
		span[class*='icon-'] {
			margin: 0 0.5em 1px 0;
			font-size: 25px;
			vertical-align: middle;
		}
	}
}
