$clr-bg-body: #eee;
$clr-bg-content: #f9f9f9;
$clr-bg-screen: #f1f1f1;
$clr-bg-hr: #ccc;
$clr-bg-button: #e6e6e6;
$clr-bg-pre: #ffe;
$clr-bg-ins: #fff9c0;

$clr-text-screen: #21759b;
$clr-text-input: #666;
$clr-text-input-focus: #111;
$clr-link: #00ccff;
$clr-link-visited: #00ccff;
$clr-link-hover: #00aaff;
$clr-text-main: #404040;

$clr-border-button: #ccc #ccc #bbb;
$clr-border-button-hover: #ccc #bbb #aaa;
$clr-border-button-focus: #aaa #bbb #bbb;
$clr-border-input: #ccc;
$clr-border-abbr: #666;
