.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	text-align: center;
	@include center-block;
}

.col-full {
	max-width: $site-width;
	padding: 0 1em;
	.col-full {
		padding: 0;
	}
}

.col-full:before {
	content: '';
	display: block;
}

.overlay {
	@include position-absolute(-999em,-99em,-999em,-99em);
	background: rgba(0,0,0,0.5);
}

.col-full:after,
.clear:after {
	@include clearfix;
}

@media only screen and (max-width: $s-breakup) {
	.s-hide, .mobile-hide {
		display: none;
	}
}

@media only screen and (min-width: $s-breakup) and (max-width: $m-breakup) {
	.m-hide, .mobile-hide {
		display: none;
	}
}

@media only screen and (min-width: $m-breakup) {
	.l-hide, .desktop-hide {
		display: none;
	}
	.col-full {
		margin: auto;
		padding: 0;
	}
}