.makesite-google-fonts-wrap {
	padding-top: 40px;
	position: relative;
	background: #f5ffff;
	border: 1px solid #dfdfdf;
}
.makesite-google-fonts {
	display: none;
	height: 0;
	overflow: auto;
	transition: height .5s .5s;
}

.makesite-google-fonts-wrap:hover .makesite-google-fonts {
	height: 280px;
	transition: height .5s;
}

.makesite-google-fonts span {
	display: block;
	height: 30px;
	padding: 5px 10px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-image: url(all-fonts.png);
	margin-bottom: 0;
	cursor: pointer;
	border-bottom: none;
}

.makesite-google-fonts span:hover {
	background-color: #effbff;
}

.makesite-google-fonts span.active {
	background-color: #fff;
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	border-bottom: 1px solid #dfdfdf;
}

.makesite-gf-abel { background-position: 0 -40px; }
.makesite-gf-amatic-sc { background-position: 0 -80px; }
.makesite-gf-arimo { background-position: 0 -120px; }
.makesite-gf-arvo { background-position: 0 -160px; }
.makesite-gf-bevan { background-position: 0 -200px; }
.makesite-gf-bitter { background-position: 0 -240px; }
.makesite-gf-black-ops-one { background-position: 0 -280px; }
.makesite-gf-boogaloo { background-position: 0 -320px; }
.makesite-gf-bree-serif { background-position: 0 -360px; }
.makesite-gf-calligraffitti { background-position: 0 -400px; }
.makesite-gf-cantata-one { background-position: 0 -440px; }
.makesite-gf-cardo { background-position: 0 -480px; }
.makesite-gf-changa-one { background-position: 0 -520px; }
.makesite-gf-cherry-cream-soda { background-position: 0 -560px; }
.makesite-gf-chewy { background-position: 0 -600px; }
.makesite-gf-comfortaa { background-position: 0 -640px; }
.makesite-gf-coming-soon { background-position: 0 -680px; }
.makesite-gf-covered-by-your-grace { background-position: 0 -720px; }
.makesite-gf-crafty-girls { background-position: 0 -760px; }
.makesite-gf-crete-round { background-position: 0 -800px; }
.makesite-gf-crimson-text { background-position: 0 -840px; }
.makesite-gf-cuprum { background-position: 0 -880px; }
.makesite-gf-dancing-script { background-position: 0 -920px; }
.makesite-gf-dosis { background-position: 0 -960px; }
.makesite-gf-droid-sans { background-position: 0 -1000px; }
.makesite-gf-droid-serif { background-position: 0 -1040px; }
.makesite-gf-francois-one { background-position: 0 -1080px; }
.makesite-gf-fredoka-one { background-position: 0 -1120px; }
.makesite-gf-the-girl-next-door { background-position: 0 -1160px; }
.makesite-gf-gloria-hallelujah { background-position: 0 -1200px; }
.makesite-gf-happy-monkey { background-position: 0 -1240px; }
.makesite-gf-indie-flower { background-position: 0 -1280px; }
.makesite-gf-josefin-slab { background-position: 0 -1320px; }
.makesite-gf-judson { background-position: 0 -1360px; }
.makesite-gf-kreon { background-position: 0 -1400px; }
.makesite-gf-lato { background-position: 0 -1440px; }
.makesite-gf-lato-light { background-position: 0 -1480px; }
.makesite-gf-leckerli-one { background-position: 0 -1520px; }
.makesite-gf-lobster { background-position: 0 -1560px; }
.makesite-gf-lobster-two { background-position: 0 -1600px; }
.makesite-gf-lora { background-position: 0 -1640px; }
.makesite-gf-luckiest-guy { background-position: 0 -1680px; }
.makesite-gf-merriweather { background-position: 0 -1720px; }
.makesite-gf-metamorphous { background-position: 0 -1760px; }
.makesite-gf-montserrat { background-position: 0 -1800px; }
.makesite-gf-noticia-text { background-position: 0 -1840px; }
.makesite-gf-nova-square { background-position: 0 -1880px; }
.makesite-gf-nunito { background-position: 0 -1920px; }
.makesite-gf-old-standard-tt { background-position: 0 -1960px; }
.makesite-gf-open-sans { background-position: 0 -2000px; }
.makesite-gf-open-sans-condensed { background-position: 0 -2040px; }
.makesite-gf-open-sans-light { background-position: 0 -2080px; }
.makesite-gf-oswald { background-position: 0 -2120px; }
.makesite-gf-pacifico { background-position: 0 -2160px; }
.makesite-gf-passion-one { background-position: 0 -2200px; }
.makesite-gf-patrick-hand { background-position: 0 -2240px; }
.makesite-gf-permanent-marker { background-position: 0 -2280px; }
.makesite-gf-play { background-position: 0 -2320px; }
.makesite-gf-playfair-display { background-position: 0 -2360px; }
.makesite-gf-poirms-one { background-position: 0 -2400px; }
.makesite-gf-pt-sans { background-position: 0 -2440px; }
.makesite-gf-pt-sans-narrow { background-position: 0 -2480px; }
.makesite-gf-pt-serif { background-position: 0 -2520px; }
.makesite-gf-raleway { background-position: 0 -2560px; }
.makesite-gf-raleway-light { background-position: 0 -2600px; }
.makesite-gf-reenie-beanie { background-position: 0 -2640px; }
.makesite-gf-righteous { background-position: 0 -2680px; }
.makesite-gf-roboto { background-position: 0 -2720px; }
.makesite-gf-roboto-condensed { background-position: 0 -2760px; }
.makesite-gf-roboto-light { background-position: 0 -2800px; }
.makesite-gf-rock-salt { background-position: 0 -2840px; }
.makesite-gf-rokkitt { background-position: 0 -2880px; }
.makesite-gf-sanchez { background-position: 0 -2920px; }
.makesite-gf-satisfy { background-position: 0 -2960px; }
.makesite-gf-schoolbell { background-position: 0 -3000px; }
.makesite-gf-shadows-into-light { background-position: 0 -3040px; }
.makesite-gf-source-sans-pro { background-position: 0 -3080px; }
.makesite-gf-source-sans-pro-light { background-position: 0 -3120px; }
.makesite-gf-special-elite { background-position: 0 -3160px; }
.makesite-gf-squada-one { background-position: 0 -3200px; }
.makesite-gf-tangerine { background-position: 0 -3240px; }
.makesite-gf-ubuntu { background-position: 0 -3280px; }
.makesite-gf-unkempt { background-position: 0 -3320px; }
.makesite-gf-vollkorn { background-position: 0 -3360px; }
.makesite-gf-walter-turncoat { background-position: 0 -3400px; }
.makesite-gf-yanone-kaffeesatz { background-position: 0 -3440px; }
