.site {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.site-content {
	display: flex;
	flex-direction: row;
	margin-top: $gutter;
}

.content-area {
	flex: 1 1 auto;
	min-width: 300px; // Fixing content
}
