// Form elements
$formElPadding : 0.385em 0.619em;
$formElBackground : #f7f7f7;
$formElHeight : 2.5em;
$formElLineHeight : 1.69em;
$formElFontSize : 1.2em;
$formElBorder : 1px solid #aaa;
$formEl : 0;

//Buttons
$btnBorder : 1px solid;
$btnBackground : #fff;
$btnColor : #777;
$btnBorderRadius : 0.25em;
