$textShadowDistance: 0.07em;
$textShadowBlur: 0.14em;
$textShadowColor: rgba(0,0,0,0.5);

$textLightShadowDistance: 0.07em;
$textLightShadowBlur: 0.14em;
$textLightShadowColor: rgba(255, 255, 255, 0.5);

$textOutlineColor: rgba(0,0,0,0.7);
$textLightOutlineColor: rgba(255, 255, 255, 0.7);

$letterSpacing: 0.1em;